<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwNIkRdzI70SS39RxlTHVzwQAAAACAAAAAAADZgAAwAAAABAAAADdRzkglRE72MyDeS+nWT2bAAAAAASAAACgAAAAEAAAANm7V9wV/L0v6ouvgEhg9S+gAQAA+ty2EfuZvmlj6ozIWywakpL7+NKx2Yx8lqvaOb7yEekEzDZ1YZU2xDz8VRLwGNDIhHXbRLFqGrBuXx0rnPdhuX4uJYN7ioKAmMj5u8rAa9zDq5xzNDpbd4TXOkhZdbVerwIkWvKGXbT15dV3fOE42NBarzlYOpeSFBuiM/AHmuxajxx+GxYIRXQIyBCInEdKLa5C2geVsNtiw5AMnvOIaKXkWPmxIjbj2hY/vFkPJeISZ/X3rvgrjoIfZhd3xbOvIRyZomBzzKdIr1/kqxIy8mU6zll1uIsN97Dy2j/MBMjSLOnb3UANyGLq+/l9Ej5w2s9yDc99i1fOgCHDSFaDohIRxe1ke7fntjvM+U/4zo6YuAdyNZcjWFVMu8TU5f/EgLNC+6salKG/Wa3znL1NAhD0tip6VkWNOYbJjFF1Y1ITLpqZ74A5kE4z0FwvsA/jZsEvSyW9kbFnnE5YMw4HLotlFOF4WS4PGbmkC8ym9toikuTBmN0rdzNylWVyhCv6PcVNduMSIGnlL83JLbxsygisfx7OgMkKK2u8Q3Er3PEUAAAAc0zy0qbZS4AIOiRVa89yfAdoM9w=</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>