<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--	<connectionStrings>
		<add name="KhannijDb"
			 connectionString="Data Source=localhost;Initial Catalog=KHANIJ_CONVE;User ID=sa;Password=nic@123;Integrated Security=False;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings> -->

	<connectionStrings>
		<add name="KhannijDb"
			 connectionString="Data Source=localhost;Initial Catalog=Khanij_Desk; integrated security=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>